#ext-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  padding: 0;
}

#ext-nav p {
  color: black;
  margin-left: 1vw;
}

#ext-nav img {
  height: 4vh;
}

.extendedCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.extendedCard h5, .extendedCard p, .extendedCard ul {
  margin-left: 3.2vw;
}

.extendedCard h2 {
  text-transform: capitalize;
  font-size: 6vh;
  margin-bottom: 2vw;
}

.list-alternatives h5 {
  text-align: center;
}

#pharmaclass li {
  font-size: 2.5vh;
  margin-bottom: 2vh;
}