
  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  #username:focus + label,
  #password:focus + label {
    color: #9575cd;
  }
  /* label underline focus color */
  #username:focus,
  #password:focus {
    border-bottom: 1px solid #9575cd;
    box-shadow: 0 1px 0 0 #000;
  }

  /* icon prefix focus color */
  .input-field .prefix.active {
    color:  #9575cd;
  }

  #login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  #username, #password {
    margin-bottom: 5vh;
  }
       